<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="main row">
    <h1>Экономические данные - 9 стран</h1>
        <p>Набор данных содержит данные по 8 странам и одному специальному административному району (Китай, Франция, Германия, Гонконг, Индия, Япония, Испания, Соединенное Королевство и Соединенные Штаты Америки) за период с 1980 по 2020 год. Он включает в себя основные макроэкономические факторы, такие как инфляция, безработица, ВВП, обменный курс (базовый доллар США) и доход на душу населения. Кроме того, в нем представлены цены акций основного фондового индекса соответствующей страны, которые могут помочь в анализе набора данных для определения влияния основных макроэкономических переменных на динамику цен фондовых индексов.</p>
        <div class="dataTable col">
            <table class="table table-sm">
                <thead>
                    <th scope="col">#</th>
                    {% for label in data[0] %}
                        <th scope="col">{{ label }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in data[1:] %}
                        <tr>
                            <th scope="row">{{ loop.index + start_index }}</th>
                            {% for elem in row %}
                                <td>{{ elem }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row">Type</th>
                        {% for elem in types %}
                            <td>{{ elem }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Null</th>
                        {% for elem in null_el %}
                            <td>{{ elem }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">NotNull</th>
                        {% for elem in not_null_el %}
                            <td>{{ elem }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="configuration col m-1">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="formFile" class="form-label">CSV file</label>
                    <input class="form-control" type="file" id="formFile" name="formFile">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Range Columns</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="number" name="minCol" id="minCol" placeholder="Start">
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" name="maxCol" id="maxCol" placeholder="End">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Range Rows</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="number" name="minRow" id="minRow" placeholder="Start">
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" name="maxRow" id="maxRow" placeholder="End">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary mb-3" name="btn" value="New Table">Generate</button>
                </div>
            </form>
            {% if data != [] %}
                <form method="post" class="row">
                    <select name="group_by_col" class="form-select form-select-lg mb-3 col">
                        <option value="1">Countries</option>
                        <option value="2">Years</option>
                    </select>
                    <select name="data_by_col" class="form-select form-select-lg mb-3 col">
                        <option value="1">Oil Price</option>
                        <option value="2">Unemployment</option>
                        <option value="3">Oil Price & Unemployment</option>
                    </select>
                    <div class="col">
                        <button type="submit" class="btn btn-primary mb-3" name="btn" value="Group_By">Generate</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
<img src="/static/myPlot.png">
</body>
</html>